node_modules
# Keep environment variables out of version control
.env
config.env

/generated/prisma

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln